@model IEnumerable<RedSocialApi.Models.MensajePublico>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.asunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.texto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.texto)
        </td>

    </tr>
}

</table>
